<div class="ui inverted labeled icon menu footer">
    <div class="ui container">
  <a href="https://www.linkedin.com/in/vasu-nangalia-481841158" class="item" target="_blank">
    <i class=" fab fa-linkedin-in"></i>
    LinkedIn
  </a>
  <a href="https://github.com/vasunangalia" class="item"target="_blank">
    <i class="fab fa-github"></i>
    Github
  </a>
  <a  href="https://angel.co/vasu-nangalia" class="item" target="_blank">
    <i class=" fab fa-angellist"></i>
    Angel
  </a>
   <a href="https://morning-castle-65250.herokuapp.com/" class="item" target="_blank">
    <i class="fab fa-react"></i>
    Portfolio
  </a>
</div>    
</div>
  </body>
</html>